<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="" >
<!-- mir100-->
<xacro:include filename="$(find mir_description)/urdf/include/mir_100_v1.urdf.xacro" />
<xacro:mir_100 prefix=""/>
<!-- ur5e-->
<!--xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" /-->
<!-- arm -->
  <!--xacro:ur5e_robot prefix="ur5e_" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
  /-->

<!-- ur5e -->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro" />

  <!-- arm -->
  <xacro:ur5e_robot prefix="ur5e_"/>

<!-- support -->

 <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

<link name="box_link">
    <visual>
	<origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.75 0.45 0.49"/>
      </geometry>
	<material name="blue"/>
    </visual>
</link>

<joint name="box_mir100" type="fixed">
    <parent link="surface"/>
    <child link="box_link"/>
    <origin xyz="0 0 0.245" rpy="0 0 0"/>
</joint>

  <joint name="box_ur5e" type="fixed">
    <parent link="box_link"/>
    <child link="ur5e_base_link"/>
    <origin xyz="-0.3 0.1 0.245" rpy="0 0 0"/>
  </joint>

  
  <!--xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro" /-->
  
  <!-- Robotiq Coupler -->
  <!--  + Height added by the coupler: 8mm -->
  <!--  + Reference frame: at the middle (4mm) -->
  <!--link name="robotiq_coupler">
    <visual>
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl" />
      </geometry>
      <material name="flat_black"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="2.073e-05   1.45286e-03  -1.1049e-03" rpy="0 0 0" />
      <mass value="0.168" />
      <inertia ixx="6.69695624e-05" ixy="5.21511788e-09" ixz="-2.74383009e-08" 
               iyy="7.85088161e-05" iyz="5.41105193e-07" izz="1.41819717e-04"/>
    </inertial>
  </link>

  <joint name="robotiq_coupler_joint" type="fixed">
    <origin xyz="0 0 0.004" rpy="0 0 ${-pi/2.0}" />
    <parent link="ur5e_tool0"/>
    <child link="robotiq_coupler"/>
  </joint>
  <gazebo reference="robotiq_coupler">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/FlatBlack</material>
  </gazebo-->
  
  <!-- Equivalent to the OpenRAVE manipulator denso_robotiq_85_gripper -->
  <!-- <link name="denso_robotiq_85_gripper" /> -->
  <!-- <joint name="manipulator_dummy_joint" type="fixed"> -->
  <!--   <origin xyz="0 0 0.1441" rpy="0 0 0" /> -->
  <!--   <parent link="robotiq_coupler"/> -->
  <!--   <child link="denso_robotiq_85_gripper"/> -->
  <!-- </joint> -->
  
  <!-- Attach the robotiq 85 gripper -->
  <!--xacro:robotiq_85_gripper prefix="" parent="robotiq_coupler" >
    <origin xyz="0 0 0.004" rpy="0 ${-pi/2} ${pi}"/>
  </xacro:robotiq_85_gripper--> 
  
  <!-- Gazebo FT sensor plugin -->
  <!--gazebo reference="ur5e_wrist_3_joint">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor_plugin" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>250.0</updateRate>
      <topicName>ft_sensor/raw</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <jointName>ur5e_wrist_3_joint</jointName>
    </plugin>
  </gazebo-->
  
  <!-- Gazebo grasping plugin -->
  <!--gazebo>
    <gripper name="gazebo_gripper">
      <grasp_check>
        <attach_steps>2</attach_steps-->    <!-- default: 20 -->
        <!--detach_steps>2</detach_steps-->    <!-- default: 40 -->
        <!--min_contact_count>3</min_contact_count>
      </grasp_check>
      <gripper_link>robotiq_85_left_finger_tip_link</gripper_link>
      <gripper_link>robotiq_85_right_finger_tip_link</gripper_link>
      <palm_link>robotiq_85_base_link</palm_link>
    </gripper>
  </gazebo-->
  
 

</robot>
