<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="skywalker" >
<!-- mir100-->
<xacro:include filename="$(find mir_description)/urdf/include/mir_100_v1.urdf.xacro" />
<xacro:mir_100 prefix=""/>
<!-- ur5e-->
<xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />
<!-- arm -->
  <xacro:ur5e_robot prefix="ur5e_" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
    elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
  />
<!-- robotiq_2f_85_gripper -->
<!--xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" />
<xacro:robotiq_arg2f_85 prefix=""/-->
<!-- support -->

 <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

<link name="box_link">
    <visual>
	<origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.75 0.45 0.49"/>
      </geometry>
	<material name="blue"/>
    </visual>
</link>

<joint name="box_mir100" type="fixed">
    <parent link="surface"/>
    <child link="box_link"/>
    <origin xyz="0 0 0.245" rpy="0 0 0"/>
</joint>

  <joint name="box_ur5e" type="fixed">
    <parent link="box_link"/>
    <child link="ur5e_base_link"/>
    <origin xyz="-0.3 0.1 0.245" rpy="0 0 0"/>
  </joint>



<!--joint name="ur5e_robotiq" type="fixed">
    <parent link="ur5e_tool0"/>
    <child link="robotiq_arg2f_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint-->



</robot>
