<launch>

  <master auto="start"/>
 <!-- Run the map server --> 
  <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/>

 <!--- Run AMCL --> 
  <include file="$(find amcl)/examples/amcl_diff.launch" />

  <arg name="no_static_map" default="false"/>
  

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find skywalker)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find skywalker)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find skywalker)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find skywalker)/param/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find skywalker)/param/base_local_planner_params.yaml" command="load" />
  </node>

  <node pkg="move_base" type="move_base" respawn="false" name "move_base" output="screen">
    <rosparam command="load" file="$(find skywalker)/param/move_base_params.yaml"/>
    <rosparam command="load" file="$(find skywalker)/param/base_local_planner_params.yaml"/>
    <rosparam command="load" file="$(find skywalker)/param/planner_global_params.yaml"/>

    <rosparam command="load" file="$(find skywalker)/param/costmap_common_params.yaml" ns="global_costmap"/>
    <rosparam command="load" file="$(find skywalker)/param/costmap_common_params.yaml" ns="local_costmap"/>
    
    <rosparam command="load" file="$(find skywalker)/param/costmap_local.yaml" ns="local_costmap"/>
    <param name="local_costmap/width" value="6.0"/>
    <param name="local_costmap/height" value="6.0"/>
    
    <rosparam command="load" file="$(find skywalker)/param/costmap_global_static.yaml" subst_value="true" ns"global_costmap" unless="$(arg not_static_map)"/>
    
  </node>

</launch>